html, body, section, header, aside, footer, div, h1, h2, img, p, nav, ul, li, a, figure, figcaption {
    margin: 0;
    padding: 0;
    border: none;
    display: block;
    font-size: 100%;
}

@media screen and (min-width: 901px){
    
body {
    width: 100%;
    margin: auto;
    background-color: #eff5f8;
    color: #151515;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", Helvetica, Arial, sans-serif;
}
#wrapper {
    min-width: 750px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    
    
}
h1 {
    font-size: 3.5em;
    font-family: Helvtica, Arial, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: slategrey;
    
}
nav {
    width: 100%;
    margin: auto;
    
}
ul {
    list-style-type: none;
    margin: auto;
    width: 100%;
    
}
li {
    width: 20%;
    float: left;
    text-align: center;
    background-color: #4d4d4d;
    padding: 0px, 0;
    
    
}
li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
li:hover {
    background-color: lightpink;   
}
#inset { 
    position: absolute;
    top: 130px;
    right: 31%;
    width: 36%;
    background-color: lightslategray;
    border-radius: 15px;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    
}
#inset h2 {
    text-align: center;
    color: white;
}

#topimage {
    width: 100%;
    margin: auto;
    

}
div {
    margin-bottom: 20px;
    
}
#main {
    width: 95%;
    padding-left: 25px;
    margin-bottom: 20px;
    

    
}
h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: slategrey;
    text-align: center;
    
    
}
figure {
    width: 100%;
    margin: auto;
    padding-top: 20px;
    
}
#h2 {
   font-size: 1.5em;
    margin-bottom: 10px;
    color: slategrey;
    text-align: center;
    
}
figure img{ 
    width: 40%;
    height: 30%;
    margin: auto;
    padding: 10px-0;
    
}
#logo {
    float: center;
    width: 25%;
    margin: auto;
}


footer {
    clear: both;
    padding: 10px;
    background-color: slategray;
    color: white;
    text-align: center;
    


}
}
#logo1 { 
position: inherit;
-webkit-animation-name: logo1; /* Chrome, Safari, Opera */
-webkit-animation-duration: 6s; /* Chrome, Safari, Opera */
animation-name:logo1-move;
animation-duration: 6s;
    animation-iteration-count: 3;

}

   
    
    @keyframes logo1-move {
    0%   {left:0px; top:0px;}
    25%  {right:200px; top:0px;}
    50%  {left:200px; top:00px;}
    75%  {right:0px; top:00px;}
    100% {left:0px; top:0px;}
}
@media screen and (min-width: 501px) and (max-width: 900px) {
 body {
    width: 100%;
    margin: auto;
    background-color: #eff5f8;
    color: #151515;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", Helvetica, Arial, sans-serif;
}
#wrapper {
    min-width: 750px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    
    
}
h1 {
    font-size: 3.5em;
    font-family: Helvtica, Arial, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: slategrey;
    
}
nav {
    width: 100%;
    margin: auto;
    
}
ul {
    list-style-type: none;
    margin: auto;
    width: 100%;
    
}
li {
    width: 20%;
    float: left;
    text-align: center;
    background-color: #4d4d4d;
    padding: 8px, 0;
    
    
}
li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
li:hover {
    background-color: lightpink;   
}
#inset { 
    position: absolute;
    top: 150px;
    right: 31%;
    width: 36%;
    background-color: lightslategray;
    border-radius: 15px;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    
}
#inset h2 {
    text-align: center;
    color: white;
}

#topimage {
    width: 100%;
    margin: auto;
    

}
div {
    margin-bottom: 20px;
}
#main {
    width: 95%;
    padding-left: 25px;
    margin-bottom: 20px;
    

    
}
h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: slategrey;
    text-align: center;
    
    
}
figure {
    width: 100%;
    margin: auto;
    padding-top: 20px;
    
}
#h2 {
   font-size: 1.5em;
    margin-bottom: 10px;
    color: slategrey;
    text-align: center;
    
}
figure img{ 
    width: 40%;
    height: 30%;
    margin: auto;
    padding: 10px-0;
    
}
#logo {
    float: center;
    width: 30%;
}

footer {
    clear: both;
    padding: 10px;
    background-color: slategray;
    color: white;
    text-align: center;
    
    }
}
#logo1 { 
position: relative;
-webkit-animation-name: logo1; /* Chrome, Safari, Opera */
-webkit-animation-duration: 6s; /* Chrome, Safari, Opera */
animation-name:logo1-move;
animation-duration: 6s;
    animation-iteration-count: 3;

}

   
    
    @keyframes logo1-move {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:00px;}
    75%  {left:0px; top:00px;}
    100% {left:0px; top:0px;}
}
@media screen and (min-width: 200px) and (max-width: 500px) {
    body { 
    width: 100%;
    margin: auto;
    background-color: #eff5f8;
    color: #151515;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", Helvetica, Arial, sans-serif;
}
#wrapper {
   
    max-width: 1000px;
    background-color: white;
    margin: auto;
    
    
}
h1 {
    font-size: 2em;
    font-family: Helvtica, Arial, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: black;
    text-decoration-style: wavy;
    
}
nav {
    width: 100%;
    margin: auto;
    padding-bottom: 10px;
    
}
ul {
    list-style-type: none;
    margin: auto;
    width: 100%;
    
}
li {
    width: 100%;
    text-align: center;
    background-color: #4d4d4d;
    padding: 10px, 0;
    
    
}
li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.3em;
}
li:hover {
    background-color: lightpink;   
}
#inset { 
    width: 100%;
    background-color: lightpink;
    color: white;
    text-transform: uppercase;
   margin-bottom: 20px;
    padding: 15px;
    border-style: double;
    
    
}
#inset h2 {
    text-align: center;
    color: white;
}

#topimage {
    width: 100%;
    margin: auto;
    

}
div {
    margin-bottom: 20px;
}
#main {
    width: 95%;
    padding-left: 25px;
    margin-bottom: 20px;
    

    
}
h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: slategrey;
    text-align: center;
    
    
}
figure {
    width: 100%;
    margin: auto;
    padding-top: 20px;
    
}
#h2 {
   font-size: 1.5em;
    margin-bottom: 10px;
    color: slategrey;
    text-align: center;
    
}
figure img{ 
    width: 70%;
    height: 30%;
    margin: auto;
    padding: 10px-0;
    clear: both;
    
}
#logo {
  position: relative;
   width: 40%;
}

footer {
    clear: both;
    padding: 10px;
    background-color: slategray;
    color: white;
    text-align: center;
    }
}
    
#logo1 {
     position: relative;
-webkit-animation-name: logo1; /* Chrome, Safari, Opera */
-webkit-animation-duration: 6s; /* Chrome, Safari, Opera */
animation-name:logo1-move;
animation-duration: 6s;
    animation-iteration-count: 3;

}

   
    
    @keyframes logo1-move {
    0%   {right:0px; top:0px;}
    25%  {right:400px; top:0px;}
    50%  {left:000px; top:0px;}
    75%  {left:400px; top:0px;}
    100% {left:00px; top:0px;}
}
    
    